body {
			min-height: 2000px;
			padding-top: 0px;
			
		}
		
 .navbar-default{
		margin-bottom:0px !important;
		}
	 header{
    background-color: white;
    padding-left: 10px;
  }
.item {
	padding-left: 10px;
	font-size: 15px;
	color: #4CAF50;
} 
.cart-list {
	padding:5px;
}
 span.pro{
    padding-left: 20px;
  }
  nav {
  	font-family: Griffy,cursive;
  	font-size: 16px;
  }
  .navbar{
    background-color: #4CAF50;
    color: white;
    margin-bottom: 0px !important;
  }
  .nav.navbar-nav a{
    color: white;
    line-height: 21px;
  }
  .nav.navbar-nav a:hover{
    color: white;
    background-color: #3e8e41;
  }
  .activ{
    background-color: #3e8e41;
    color: white;
    font-size: 16px;
  }
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.navbar-nav.dropdown.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar-nav.dropdown.dropdown-menu li a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    list-style: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    width: 500px;
    background-color: #4caf50;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    color: white;
}
.dropdown:hover .dropdown-menu .row ul {
    list-style: none;
}
.nopadding {
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 10px !important;
	font-size: 14px;
}
.nopadding li a:hover {
	text-decoration: none;
	border-bottom: 1px;
	border-bottom-color:#3e8e41;
}
.cart-list:hover {
	border: 1px solid #3e8e41;
	padding: 5px;
}